<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MicroservicePanelConfigMapper">

    <resultMap type="MicroservicePanelConfig" id="PanelConfigResult">
        <result property="id"               column="id"                />
        <result property="namespace"         column="namespace"          />
        <result property="service"           column="service"            />
        <result property="pod"               column="pod"                />
        <result property="panelKey"          column="panel_key"          />
        <result property="panelName"         column="panel_name"         />
        <result property="isCustom"          column="is_custom"          />
        <result property="grafanaPanelId"    column="grafana_panel_id"   />
        <result property="promql"            column="promql"             />
        <result property="chartType"         column="chart_type"         />
        <result property="unit"              column="unit"               />
        <result property="timeRange"         column="time_range"         />
        <result property="refreshInterval"   column="refresh_interval"   />
        <result property="sortOrder"         column="sort_order"         />
        <result property="delFlag"           column="del_flag"           />
        <result property="createBy"          column="create_by"          />
        <result property="createTime"        column="create_time"        />
        <result property="updateBy"          column="update_by"          />
        <result property="updateTime"        column="update_time"        />
        <result property="remark"            column="remark"             />
    </resultMap>

    <sql id="selectPanelConfigVo">
        select id, namespace, service, pod, panel_key, panel_name, is_custom,
               grafana_panel_id, promql, chart_type, unit, time_range,
               refresh_interval, sort_order, create_by, create_time,
               update_by, update_time, remark
        from microservice_monitor_panel_config
        where del_flag = '0'
    </sql>

    <select id="selectPanelConfigList" parameterType="MicroservicePanelConfig" resultMap="PanelConfigResult">
        <include refid="selectPanelConfigVo"/>
        <if test="namespace != null and namespace != ''">
            AND namespace = #{namespace}
        </if>
        <if test="service != null and service != ''">
            AND service = #{service}
        </if>
        <if test="pod != null and pod != ''">
            AND pod = #{pod}
        </if>
        order by sort_order asc, id asc
    </select>

    <select id="selectPanelConfigById" parameterType="Long" resultMap="PanelConfigResult">
        <include refid="selectPanelConfigVo"/>
        AND id = #{id}
    </select>

    <select id="selectPanelConfigByKey" parameterType="MicroservicePanelConfig" resultMap="PanelConfigResult">
        <include refid="selectPanelConfigVo"/>
        AND namespace = #{namespace}
        AND service   = #{service}
        AND pod       = #{pod}
        AND panel_key = #{panelKey}
        LIMIT 1
    </select>

    <insert id="insertPanelConfig" parameterType="MicroservicePanelConfig" useGeneratedKeys="true" keyProperty="id">
        insert into microservice_monitor_panel_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="namespace != null and namespace != ''">namespace,</if>
            <if test="service != null and service != ''">service,</if>
            <if test="pod != null and pod != ''">pod,</if>
            <if test="panelKey != null and panelKey != ''">panel_key,</if>
            <if test="panelName != null and panelName != ''">panel_name,</if>
            <if test="isCustom != null">is_custom,</if>
            <if test="grafanaPanelId != null">grafana_panel_id,</if>
            <if test="promql != null">promql,</if>
            <if test="chartType != null and chartType != ''">chart_type,</if>
            <if test="unit != null and unit != ''">unit,</if>
            <if test="timeRange != null and timeRange != ''">time_range,</if>
            <if test="refreshInterval != null">refresh_interval,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            del_flag,
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="namespace != null and namespace != ''">#{namespace},</if>
            <if test="service != null and service != ''">#{service},</if>
            <if test="pod != null and pod != ''">#{pod},</if>
            <if test="panelKey != null and panelKey != ''">#{panelKey},</if>
            <if test="panelName != null and panelName != ''">#{panelName},</if>
            <if test="isCustom != null">#{isCustom},</if>
            <if test="grafanaPanelId != null">#{grafanaPanelId},</if>
            <if test="promql != null">#{promql},</if>
            <if test="chartType != null and chartType != ''">#{chartType},</if>
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="timeRange != null and timeRange != ''">#{timeRange},</if>
            <if test="refreshInterval != null">#{refreshInterval},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            '0',
            sysdate()
        </trim>
    </insert>

    <update id="updatePanelConfig" parameterType="MicroservicePanelConfig">
        update microservice_monitor_panel_config
        <set>
            <if test="panelName != null and panelName != ''">panel_name = #{panelName},</if>
            <if test="grafanaPanelId != null">grafana_panel_id = #{grafanaPanelId},</if>
            <if test="promql != null">promql = #{promql},</if>
            <if test="chartType != null and chartType != ''">chart_type = #{chartType},</if>
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="timeRange != null and timeRange != ''">time_range = #{timeRange},</if>
            <if test="refreshInterval != null">refresh_interval = #{refreshInterval},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <update id="deletePanelConfigById" parameterType="Long">
        update microservice_monitor_panel_config set del_flag = '2', update_time = sysdate()
        where id = #{id}
    </update>

    <update id="deletePanelConfigByIds" parameterType="Long">
        update microservice_monitor_panel_config set del_flag = '2', update_time = sysdate()
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
