<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.facility.mapper.MachineRoomFacilityMapper">
    
    <resultMap type="MachineRoomFacility" id="MachineRoomFacilityResult">
        <result property="id"    column="id"    />
        <result property="facilityCode"    column="facility_code"    />
        <result property="facilityName"    column="facility_name"    />
        <result property="deviceId"    column="device_id"    />
        <result property="machineRoom"    column="machine_room"    />
        <result property="installPosition"    column="install_position"    />
        <result property="vendor"    column="vendor"    />
        <result property="model"    column="model"    />
        <result property="status"    column="status"    />
        <result property="responsiblePerson"    column="responsible_person"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="installTime"    column="install_time"    />
        <result property="lastMaintainTime"    column="last_maintain_time"    />
        <result property="nextMaintainTime"    column="next_maintain_time"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMachineRoomFacilityVo">
        select id, facility_code, facility_name, device_id, machine_room, install_position, vendor, model, status, responsible_person, contact_phone, install_time, last_maintain_time, next_maintain_time, remark, create_time, update_time from machine_room_facility
    </sql>

    <select id="selectMachineRoomFacilityList" parameterType="MachineRoomFacility" resultMap="MachineRoomFacilityResult">
        <include refid="selectMachineRoomFacilityVo"/>
        <where>  
            <if test="facilityCode != null  and facilityCode != ''"> and facility_code like concat('%', #{facilityCode}, '%')</if>
            <if test="facilityName != null  and facilityName != ''"> and facility_name like concat('%', #{facilityName}, '%')</if>
            <if test="machineRoom != null  and machineRoom != ''"> and machine_room = #{machineRoom}</if>
            <if test="installPosition != null  and installPosition != ''"> and install_position = #{installPosition}</if>
            <if test="vendor != null  and vendor != ''"> and vendor like concat('%', #{vendor}, '%')</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
        </where>
    </select>
    
    <select id="selectMachineRoomFacilityById" parameterType="Long" resultMap="MachineRoomFacilityResult">
        <include refid="selectMachineRoomFacilityVo"/>
        where id = #{id}
    </select>

    <insert id="insertMachineRoomFacility" parameterType="MachineRoomFacility" useGeneratedKeys="true" keyProperty="id">
        insert into machine_room_facility
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="facilityCode != null and facilityCode != ''">facility_code,</if>
            <if test="facilityName != null and facilityName != ''">facility_name,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="machineRoom != null and machineRoom != ''">machine_room,</if>
            <if test="installPosition != null and installPosition != ''">install_position,</if>
            <if test="vendor != null and vendor != ''">vendor,</if>
            <if test="model != null and model != ''">model,</if>
            <if test="status != null">status,</if>
            <if test="responsiblePerson != null and responsiblePerson != ''">responsible_person,</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone,</if>
            <if test="installTime != null">install_time,</if>
            <if test="lastMaintainTime != null">last_maintain_time,</if>
            <if test="nextMaintainTime != null">next_maintain_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="facilityCode != null and facilityCode != ''">#{facilityCode},</if>
            <if test="facilityName != null and facilityName != ''">#{facilityName},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="machineRoom != null and machineRoom != ''">#{machineRoom},</if>
            <if test="installPosition != null and installPosition != ''">#{installPosition},</if>
            <if test="vendor != null and vendor != ''">#{vendor},</if>
            <if test="model != null and model != ''">#{model},</if>
            <if test="status != null">#{status},</if>
            <if test="responsiblePerson != null and responsiblePerson != ''">#{responsiblePerson},</if>
            <if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
            <if test="installTime != null">#{installTime},</if>
            <if test="lastMaintainTime != null">#{lastMaintainTime},</if>
            <if test="nextMaintainTime != null">#{nextMaintainTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMachineRoomFacility" parameterType="MachineRoomFacility">
        update machine_room_facility
        <trim prefix="SET" suffixOverrides=",">
            <if test="facilityCode != null and facilityCode != ''">facility_code = #{facilityCode},</if>
            <if test="facilityName != null and facilityName != ''">facility_name = #{facilityName},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="machineRoom != null and machineRoom != ''">machine_room = #{machineRoom},</if>
            <if test="installPosition != null and installPosition != ''">install_position = #{installPosition},</if>
            <if test="vendor != null and vendor != ''">vendor = #{vendor},</if>
            <if test="model != null and model != ''">model = #{model},</if>
            <if test="status != null">status = #{status},</if>
            <if test="responsiblePerson != null and responsiblePerson != ''">responsible_person = #{responsiblePerson},</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="installTime != null">install_time = #{installTime},</if>
            <if test="lastMaintainTime != null">last_maintain_time = #{lastMaintainTime},</if>
            <if test="nextMaintainTime != null">next_maintain_time = #{nextMaintainTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMachineRoomFacilityById" parameterType="Long">
        delete from machine_room_facility where id = #{id}
    </delete>

    <delete id="deleteMachineRoomFacilityByIds" parameterType="String">
        delete from machine_room_facility where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>