<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.DeviceManagerMapper">
    
    <resultMap type="DeviceManager" id="DeviceManagerResult">
        <result property="deviceId"    column="device_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="deviceName"    column="device_name"    />
        <result property="deviceStatus"    column="device_status"    />
        <result property="leaders"    column="leaders"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDeviceManagerVo">
        select device_id, parent_id, device_name, device_status, leaders, phone, email, del_flag, create_time, update_time, remark from device_manager
    </sql>

    <select id="selectDeviceManagerList" parameterType="DeviceManager" resultMap="DeviceManagerResult">
        <include refid="selectDeviceManagerVo"/>
        <where>  
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="deviceStatus != null "> and device_status = #{deviceStatus}</if>
            <if test="leaders != null  and leaders != ''"> and leaders = #{leaders}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
        </where>
    </select>
    
    <select id="selectDeviceManagerByDeviceId" parameterType="Long" resultMap="DeviceManagerResult">
        <include refid="selectDeviceManagerVo"/>
        where device_id = #{deviceId}
    </select>

    <insert id="insertDeviceManager" parameterType="DeviceManager" useGeneratedKeys="true" keyProperty="deviceId">
        insert into device_manager
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="deviceStatus != null">device_status,</if>
            <if test="leaders != null and leaders != ''">leaders,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="deviceStatus != null">#{deviceStatus},</if>
            <if test="leaders != null and leaders != ''">#{leaders},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDeviceManager" parameterType="DeviceManager">
        update device_manager
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="deviceStatus != null">device_status = #{deviceStatus},</if>
            <if test="leaders != null and leaders != ''">leaders = #{leaders},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where device_id = #{deviceId}
    </update>

    <delete id="deleteDeviceManagerByDeviceId" parameterType="Long">
        delete from device_manager where device_id = #{deviceId}
    </delete>

    <delete id="deleteDeviceManagerByDeviceIds" parameterType="String">
        delete from device_manager where device_id in 
        <foreach item="deviceId" collection="array" open="(" separator="," close=")">
            #{deviceId}
        </foreach>
    </delete>
</mapper>