<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.MiddlewareMasterMapper">
    
    <resultMap type="MiddlewareMaster" id="MiddlewareMasterResult">
        <result property="middlewareId"    column="middleware_id"    />
        <result property="middlewareName"    column="middleware_name"    />
        <result property="deviceId"    column="device_id"    />
        <result property="middlewareVersion"    column="middleware_version"    />
        <result property="deployType"    column="deploy_type"    />
        <result property="envType"    column="env_type"    />
        <result property="ipAddress"    column="ip_address"    />
        <result property="port"    column="port"    />
        <result property="leader"    column="leader"    />
        <result property="status"    column="status"    />
        <result property="monitorStatus"    column="monitor_status"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMiddlewareMasterVo">
        select middleware_id, middleware_name, device_id, middleware_version, deploy_type, env_type, ip_address, port, leader, status, monitor_status, username, password, create_time, create_by, remark from middleware_master
    </sql>

    <select id="selectMiddlewareMasterList" parameterType="MiddlewareMaster" resultMap="MiddlewareMasterResult">
        <include refid="selectMiddlewareMasterVo"/>
        <where>  
            <if test="middlewareName != null  and middlewareName != ''"> and middleware_name like concat('%', #{middlewareName}, '%')</if>
            <if test="leader != null  and leader != ''"> and leader = #{leader}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="deviceId != null and deviceId != ''"> and device_id = #{deviceId}</if>
        </where>
    </select>
    
    <select id="selectMiddlewareMasterByMiddlewareId" parameterType="Long" resultMap="MiddlewareMasterResult">
        <include refid="selectMiddlewareMasterVo"/>
        where middleware_id = #{middlewareId}
    </select>

    <!-- 根据deviceId查询MiddwareMaster列表 -->
    <select id="selectMiddwareMasterByDeviceId" parameterType="java.lang.Integer" resultMap="MiddlewareMasterResult">
        <include refid="selectMiddlewareMasterVo"/>
        WHERE device_id = #{deviceId}
    </select>

    <insert id="insertMiddlewareMaster" parameterType="MiddlewareMaster" useGeneratedKeys="true" keyProperty="middlewareId">
        insert into middleware_master
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="middlewareName != null and middlewareName != ''">middleware_name,</if>
            <if test="deviceId != null">device_id,</if>
            <if test="middlewareVersion != null">middleware_version,</if>
            <if test="deployType != null">deploy_type,</if>
            <if test="envType != null">env_type,</if>
            <if test="ipAddress != null and ipAddress != ''">ip_address,</if>
            <if test="port != null">port,</if>
            <if test="leader != null and leader != ''">leader,</if>
            <if test="status != null">status,</if>
            <if test="monitorStatus != null">monitor_status,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null">password,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="middlewareName != null and middlewareName != ''">#{middlewareName},</if>
            <if test="deviceId != null">#{deviceId},</if>
            <if test="middlewareVersion != null">#{middlewareVersion},</if>
            <if test="deployType != null">#{deployType},</if>
            <if test="envType != null">#{envType},</if>
            <if test="ipAddress != null and ipAddress != ''">#{ipAddress},</if>
            <if test="port != null">#{port},</if>
            <if test="leader != null and leader != ''">#{leader},</if>
            <if test="status != null">#{status},</if>
            <if test="monitorStatus != null">#{monitorStatus},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMiddlewareMaster" parameterType="MiddlewareMaster">
        update middleware_master
        <trim prefix="SET" suffixOverrides=",">
            <if test="middlewareName != null and middlewareName != ''">middleware_name = #{middlewareName},</if>
            <if test="deviceId != null">device_id = #{deviceId},</if>
            <if test="middlewareVersion != null">middleware_version = #{middlewareVersion},</if>
            <if test="deployType != null">deploy_type = #{deployType},</if>
            <if test="envType != null">env_type = #{envType},</if>
            <if test="ipAddress != null and ipAddress != ''">ip_address = #{ipAddress},</if>
            <if test="port != null">port = #{port},</if>
            <if test="leader != null and leader != ''">leader = #{leader},</if>
            <if test="status != null">status = #{status},</if>
            <if test="monitorStatus != null">monitor_status = #{monitorStatus},</if>
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where middleware_id = #{middlewareId}
    </update>

    <delete id="deleteMiddlewareMasterByMiddlewareId" parameterType="Long">
        delete from middleware_master where middleware_id = #{middlewareId}
    </delete>

    <delete id="deleteMiddlewareMasterByMiddlewareIds" parameterType="String">
        delete from middleware_master where middleware_id in 
        <foreach item="middlewareId" collection="array" open="(" separator="," close=")">
            #{middlewareId}
        </foreach>
    </delete>
</mapper>