<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.PhysicalRoomMapper">

    <resultMap type="PhysicalRoom" id="SysRoomResult">
        <id     property="roomId"     column="room_id"     />
        <result property="parentId"   column="parent_id"   />
        <result property="ancestors"  column="ancestors"   />
        <result property="roomName"   column="room_name"   />
        <result property="orderNum"   column="order_num"   />
        <result property="leader"     column="leader"      />
        <result property="phone"      column="phone"       />
        <result property="email"      column="email"       />
        <result property="status"     column="status"      />
        <result property="machineType" column="machine_type" />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectRoomVo">
        select room_id, parent_id, ancestors, room_name, order_num, leader, phone, email, status, machine_type, del_flag, create_by, create_time
        from physical_room
    </sql>

    <select id="selectRoomList" parameterType="PhysicalRoom" resultMap="SysRoomResult">
        <include refid="selectRoomVo"/>
        <where>
            <if test="roomName != null  and roomName != ''"> and room_name like concat('%', #{roomName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            and del_flag = '0'
        </where>
        order by parent_id, order_num
    </select>

    <select id="selectRoomById" parameterType="Long" resultMap="SysRoomResult">
        <include refid="selectRoomVo"/>
        where room_id = #{roomId}
    </select>

    <insert id="insertRoom" parameterType="PhysicalRoom" useGeneratedKeys="true" keyProperty="roomId">
        insert into physical_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">room_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="roomName != null">room_name,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="leader != null">leader,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="status != null">status,</if>
            <if test="machineType != null">machine_type,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">#{roomId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="roomName != null">#{roomName},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="leader != null">#{leader},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="status != null">#{status},</if>
            <if test="machineType != null">#{machineType},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateRoom" parameterType="PhysicalRoom">
        update physical_room
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="roomName != null">room_name = #{roomName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="leader != null">leader = #{leader},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="machineType != null">machine_type = #{machineType},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where room_id = #{roomId}
    </update>

    <delete id="deleteRoomById" parameterType="Long">
        update physical_room set del_flag = '2' where room_id = #{roomId}
    </delete>

</mapper>

        <!--<?xml version="1.0" encoding="UTF-8" ?>-->
        <!--<!DOCTYPE mapper-->
        <!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
        <!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
        <!--<mapper namespace="com.ruoyi.system.mapper.PhysicalRoomMapper">-->

        <!--    <resultMap type="PhysicalRoom" id="SysRoomResult">-->
        <!--        <id     property="roomId"     column="room_id"     />-->
        <!--        <result property="parentId"   column="parent_id"   />-->
        <!--        <result property="ancestors"  column="ancestors"   />-->
        <!--        <result property="roomName"   column="room_name"   />-->
        <!--        <result property="orderNum"   column="order_num"   />-->
        <!--        <result property="leader"     column="leader"      />-->
        <!--        <result property="phone"      column="phone"       />-->
        <!--        <result property="email"      column="email"       />-->
        <!--        <result property="status"     column="status"      />-->
        <!--        <result property="machineType" column="machine_type" />-->
        <!--        <result property="delFlag"    column="del_flag"    />-->
        <!--        <result property="createBy"   column="create_by"   />-->
        <!--        <result property="createTime" column="create_time" />-->
        <!--        <result property="updateBy"   column="update_by"   />-->
        <!--        <result property="updateTime" column="update_time" />-->
        <!--    </resultMap>-->

        <!--    <sql id="selectRoomVo">-->
        <!--        select room_id, parent_id, ancestors, room_name, order_num, leader, phone, email, status, machine_type, del_flag, create_by, create_time-->
        <!--        from physical_room-->
        <!--    </sql>-->

        <!--    <select id="selectRoomList" parameterType="PhysicalRoom" resultMap="SysRoomResult">-->
        <!--        <include refid="selectRoomVo"/>-->
        <!--        <where>-->
        <!--            <if test="roomName != null  and roomName != ''"> and room_name like concat('%', #{roomName}, '%')</if>-->
        <!--            <if test="status != null  and status != ''"> and status = #{status}</if>-->
        <!--            and del_flag = '0'-->
        <!--        </where>-->
        <!--        order by parent_id, order_num-->
        <!--    </select>-->

        <!--    <select id="selectRoomById" parameterType="Long" resultMap="SysRoomResult">-->
        <!--        <include refid="selectRoomVo"/>-->
        <!--        where room_id = #{roomId}-->
        <!--    </select>-->

        <!--    <insert id="insertRoom" parameterType="PhysicalRoom" useGeneratedKeys="true" keyProperty="roomId">-->
        <!--        insert into physical_room-->
        <!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
        <!--            <if test="roomId != null">room_id,</if>-->
        <!--            <if test="parentId != null">parent_id,</if>-->
        <!--            <if test="ancestors != null">ancestors,</if>-->
        <!--            <if test="roomName != null">room_name,</if>-->
        <!--            <if test="orderNum != null">order_num,</if>-->
        <!--            <if test="leader != null">leader,</if>-->
        <!--            <if test="phone != null">phone,</if>-->
        <!--            <if test="email != null">email,</if>-->
        <!--            <if test="status != null">status,</if>-->
        <!--            <if test="delFlag != null">del_flag,</if>-->
        <!--            <if test="createBy != null">create_by,</if>-->
        <!--            <if test="createTime != null">create_time,</if>-->
        <!--            <if test="updateBy != null">update_by,</if>-->
        <!--            <if test="updateTime != null">update_time,</if>-->
        <!--            <if test="remark != null">remark,</if>-->
        <!--        </trim>-->
        <!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
        <!--            <if test="roomId != null">#{roomId},</if>-->
        <!--            <if test="parentId != null">#{parentId},</if>-->
        <!--            <if test="ancestors != null">#{ancestors},</if>-->
        <!--            <if test="roomName != null">#{roomName},</if>-->
        <!--            <if test="orderNum != null">#{orderNum},</if>-->
        <!--            <if test="leader != null">#{leader},</if>-->
        <!--            <if test="phone != null">#{phone},</if>-->
        <!--            <if test="email != null">#{email},</if>-->
        <!--            <if test="status != null">#{status},</if>-->
        <!--            <if test="delFlag != null">#{delFlag},</if>-->
        <!--            <if test="createBy != null">#{createBy},</if>-->
        <!--            <if test="createTime != null">#{createTime},</if>-->
        <!--            <if test="updateBy != null">#{updateBy},</if>-->
        <!--            <if test="updateTime != null">#{updateTime},</if>-->
        <!--            <if test="remark != null">#{remark},</if>-->
        <!--        </trim>-->
        <!--    </insert>-->

        <!--    <update id="updateRoom" parameterType="PhysicalRoom">-->
        <!--        update physical_room-->
        <!--        <trim prefix="SET" suffixOverrides=",">-->
        <!--            <if test="parentId != null">parent_id = #{parentId},</if>-->
        <!--            <if test="ancestors != null">ancestors = #{ancestors},</if>-->
        <!--            <if test="roomName != null">room_name = #{roomName},</if>-->
        <!--            <if test="orderNum != null">order_num = #{orderNum},</if>-->
        <!--            <if test="leader != null">leader = #{leader},</if>-->
        <!--            <if test="phone != null">phone = #{phone},</if>-->
        <!--            <if test="email != null">email = #{email},</if>-->
        <!--            <if test="status != null">status = #{status},</if>-->
        <!--            <if test="machineType != null">machine_type = #{machineType},</if>-->
        <!--            <if test="delFlag != null">del_flag = #{delFlag},</if>-->
        <!--            <if test="updateBy != null">update_by = #{updateBy},</if>-->
        <!--            <if test="updateTime != null">update_time = #{updateTime},</if>-->
        <!--            <if test="remark != null">remark = #{remark},</if>-->
        <!--        </trim>-->
        <!--        where room_id = #{roomId}-->
        <!--    </update>-->

        <!--    <delete id="deleteRoomById" parameterType="Long">-->
        <!--        update physical_room set del_flag = '2' where room_id = #{roomId}-->
        <!--    </delete>-->
        <!--</mapper>-->